.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchResult {
  border: solid;
  box-sizing: border-box;
}

.searchBox {
  margin-bottom: 10px;;
}

.watchlist {
  margin-top: 10px;
  text-align: center;
}

/* .watchlist {
  display: grid;
  grid-template-columns: 200px 200px 200px;
} */

.navbar {
  text-align: center;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.watchlistMovie {
  /* border: solid; */
  width: 50%;
  box-sizing: content-box;
  border: 1px solid #c2c2c2;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  margin: auto;
}

.colorPicker {
  margin-left:auto;
  margin-right:auto;
  width:21%;
}

.colorPickerClosed {
  margin-left:auto;
  margin-right:auto;
  width:18%;
}

.watchlistMovie:hover {
  border-color: rgb(19,149,218);
}

.picture {
  outline-style: solid;
  outline-color: black;
}

.picture:hover {
  outline-color: rgb(19,149,218);
}

.paper:hover {
  outline-color: rgb(19,149,218);
}

.underline:hover {
  text-decoration: underline;
  text-decoration-color: rgb(19,149,218);
}

.searchResult {
  /* border: solid; */
  box-sizing: content-box;
  border: 1px solid #c2c2c2;
  background: #dfe6e9;
  padding: 10px;
}

.movieView {
  text-align: center;
}

.similarMovie {
  /* border: solid; */
  box-sizing: content-box;
  border: 1px solid #c2c2c2;
  background: #dfe6e9;
  padding: 10px;
}

.title {
  text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}
#main {
    grid-area: main;
}
#new-message {
    position: relative;
    bottom: 0;
    width: 86%;
    padding: 5px;
    margin-left: 0px;
    border-top: 1px solid #3f3f3f;
    z-index: 2
}

#messages-list {
  padding: 5px 0 0 5px;
  position: relative;
  overflow-y: scroll;
}

#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
    width: 100%;
    position: relative;
}

.ui.menu:last-child {
    margin-bottom: 0;
    background-color: #74b9ff
}

div.Dashboard-appBarSpacer-11 {
  min-height: 60px;
}

.pageButtons {
  margin-bottom: 10px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

p {
  font-size: small;
}

/* a:link, a:visited {
    color: rgb(19,149,218);
    text-decoration: none;
} */

/* a:hover {
    color: rgb(19,149,218);
    text-decoration: none;
} */

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */

/* .modal {
  margin: auto;
  left: 155px;
  display: flex;
  z-index: 2;
} */



.MuiPaper-root-25 {
  margin-bottom: 5px;
}

* {
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
